{{define "title"}}Blog{{end}}

{{define "main"}}

   <div class="container">
        <div class="row">
            <div class="col">
                <h1>All blogposts</h1>
                {{if .BlogPosts}}
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>ID</th>
                        </tr>
                    {{range .BlogPosts}}
                        <tr>
                            <!-- Use the new clean URL style-->
                            <td><a href='/blogpost/view/{{.ID}}'>{{.Title}}</a></td>
                            <td>{{humanDate .Created}}</td>
                            <td>#{{.ID}}</td>
                        </tr>
                        {{end}}
                    </table>
                {{else}}
                        <p>There's nothing to see here... yet!</p>
                {{end}}
            </div>
        </div>
    </div>
    
{{end}}