{{define "title"}}Contact{{end}}

{{define "main"}}

    <div class="container">
        <div class="row">
            <div class="col-xs-1" align="center">
                <h1>Contact</h1>      
                </br>    
                <form action='/contact' method='POST'>
                    <!-- Include the CSRF token -->
                    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                    <div>
                        <label>Name:</label>
                        {{with .Form.FieldErrors.name}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input type='text' name='name' value='{{.Form.Name}}'>
                    </div>
                    <div>
                        <label>Email:</label>
                        {{with .Form.FieldErrors.from}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <textarea name='from'>{{.Form.From}}</textarea>
                    </div>
                    <div>
                        <label>Subject:</label>
                        {{with .Form.FieldErrors.subject}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <textarea name='subject'>{{.Form.Subject}}</textarea>
                    </div>
                    <div>
                        <label>Content:</label>
                        {{with .Form.FieldErrors.content}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <textarea name='content'>{{.Form.Content}}</textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Send" />
                    </div>
                </form>
			
            </div>
        </div>
    </div>

{{end}}