{{define "title"}}ContactResponse{{end}}

{{define "main"}}
    <div class="container">
        <div class="row">

            <div class="col">
                <h1>Thank you!</h1>
                <p>"for sending this email {{.Form.Name}}. We will contact you on {{.Form.From}} as soon as possible"</p>
            </div>
        </div>
    </div>
{{end}}