{{define "base"}}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.84.0">
      <title>Jumbotron example · Bootstrap v5.0</title>
      <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">

      <!-- Bootstrap CSS -->
      <link href="www/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="www/css/navbar-top.css" rel="stylesheet" type="text/css">
  </head>

  <body>  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Top navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    {{block "css" .}}

    {{end}}
      
    </head>
    <body>

    {{block "content" .}}

    {{end}}

    <script type="text/javascript" src="../www/js/bootstrap.bundle.min.js"></script>
    {{block "js" .}}

    {{end}}

    </body>
  </html>
{{end}}