{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
        
            {{$md := index .Data "contact"}}

            <div class="col">
                <h1>Thank you!</h1>
                <p>"for sending this email {{$md.Name}}"</p>
            </div>
        </div>
    </div>
{{end}}