{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div>
            <div> <br /> </div>

                {{$res := index .Data "testform"}}

                <form method="POST" action="/testform">  
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"> 
                    
                    <label for="name">Name</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    <input class="form-control {{with .Form.Errors.Get "name"}} is-invalid {{end}}"
                            id="name" autocomplete="off" type='text'
                            name='name' value="{{$res.Name}}" required>

                    <label for="name">Email</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                    <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                            id="email" autocomplete="off" type='text'
                            name='email' value="{{$res.Email}}" required>

                    <hr>
                    <input type="submit" class="btn btn-primary" value="submit" />
                    
                </form>
            </div>
        </div>
    </div>
{{end}}